USE [master]
GO
/****** Object:  Database [dbtest2026]    Script Date: 1/22/2026 5:13:57 PM ******/
CREATE DATABASE [dbtest2026]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbtest2026', FILENAME = N'c:\databases\dbtest2026\dbtest2026.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'dbtest2026_log', FILENAME = N'c:\databases\dbtest2026\dbtest2026_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbtest2026].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbtest2026]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/22/2026 5:14:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email]) VALUES (1, N'Nguyễn Văn A - Updated', N'a.updated@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (2, N'Trần Thị B', N'b@gmail.com')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (3, N'Lê Văn C', N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
